header {
  background-color: rgb(59, 88, 212);
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
  z-index: 1;
  box-shadow: 0 2px 4px rgba(1, 3, 18, 0.274);


  .right-header {
    display: flex;
    align-items: center;

    button {
      padding: 10px;
      background-color: rgb(251, 251, 251);
      border: 1px solid gainsboro;
      border-radius: 5px;
      margin-left: 10px;
      cursor: pointer;
    }

    .scale-active {
      position: absolute;
      top: 78px;
      right: 40px;
      width: 15%;
      display: flex;
      flex-direction: column;
      padding: 10px;
      background-color: #f8f9fa;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      z-index: 999;

      .scale-options {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 5px;
        border-bottom: 1px solid #4e6b872b;
        font-size: 15px;
      }
    }

    .scale-dropdown {
      position: relative;
      width: 10%;
      height: 10%;
      background-color: #dd8717;
      cursor: pointer;

      button {
        margin-left: 10px;
        
      }

      .scale-options {
        position: absolute;
        top: 30px;
        left: 0;
        background-color: #fff;
        border: 1px solid;
        border-radius: 5px;
        display: none;
        flex-direction: column;

        button {
          padding: 5px;
          cursor: pointer;
          box-shadow: 0 2px 4px rgba(1, 3, 18, 0.274);
        }
      }

      &:hover .scale-options {
        display: flex;
      }
    }
  }
}

.active {
  display: flex;
}
